:root {
  --backgorund-color: #e9edf3;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --button-color: #2563eb;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background-color: var(--backgorund-color);
  font-family: "Rubik", sans-serif;
  font-size: small;
}
#main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form_container {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 30px 20px;
}

.form_container input,
label,
button {
  margin: 4px 4px 10px 4px;
}
form i {
  margin-left: -30px;
  cursor: pointer;
}
#textbox{
  border-width: 2px;
  border-style: solid;
  border-color: #e3e6e9;
  border-radius: 4px;
  width: 350px;
  height: 35px;
}

#see_pass{
  position: absolute;
  top: 134px;
  left: 380px;
}

#passbox{
  border-width: 2px;
  border-style: solid;
  border-color: #e3e6e9;
  border-radius: 4px;
  width: 350px;
  height: 35px;
}

::placeholder {
  font-family: "Rubik", sans-serif;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#check {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 25%;
  vertical-align: middle;
  border: 2px solid #ddd;
  /* border: ; */
  appearance: inherit;
}
#check:checked{
  appearance: auto;
}

#forgettext {
  float: right;
  color: #a9abaf;
  margin-top: 8px;
}
.signinbtn {
  display: flex;
  justify-content: center;
}

#signuptext {
  color: black;
  text-decoration: underline 1.5px;
  margin: 7px;
}
button {
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 0;
  height: 40px;
  width: 350px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.dontsignup {
  display: flex;
  justify-content: center;
}
