:root {
  --backgorund-color: #e9edf3;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --button-color: #2563eb;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: var(--backgorund-color);
  font-family: "Rubik", sans-serif;
  font-size: small;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-25%, -25%);
}

/* div.form_container *:not(.passcontainer,.see_pass_container) {
  margin: 8px 4px;
} */

/* .form_container.{
  margin: 8px 4px;
} */

::placeholder {
  font-family: "Rubik", sans-serif;
}

.form_container {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 30px 20px;
  width: 50%;
  height: 30%;
}

.center {
  text-align: center;
}

.textbox {
  border-width: 2px;
  border-style: solid;
  border-color: #e3e6e9;
  border-radius: 4px;
  width: 98%;
  height: 35px;
}

.see_pass_container{
  position: relative;
  /* background-color: #2563eb; */
}

#see_pass{
  position: absolute;
  right: 3%;
  top: 50%;
}

/* #check {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 25%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: inherit;
} */

/* #check:checked {
} */

#forgettext {
  float: right;
  color: #a9abaf;
}

.signinbtn {
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 0;
  height: 33px;
  width: 95%;
  border-radius: 4px;
}

#signuptext {
  color: black;
  text-decoration: underline 1.5px;
}
