:root {
  --backgorund-color: #e9edf3;
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --button-color: #2563eb;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgorund-color);
  font-family: "Rubik", sans-serif;
  font-size: small;
}

.form_container {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 30px 20px;
  width: 80%;
  max-width: 420px;
  min-width: 270px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form > span {
  margin-left: 3%;
}

form > div {
  /* width: 100%; */
  margin-bottom: 10px;
  text-align: center;
}

::placeholder {
  font-family: "Rubik", sans-serif;
}

.textbox {
  border-width: 2px;
  border-style: solid;
  border-color: #e3e6e9;
  border-radius: 4px;
  width: 95%;
  height: 35px;
}

.see_pass_container {
  position: relative;
}

.rem_container_parent {
  display: flex;
  justify-content: center;
}
.rem_container_child {
  width: 93%;
  display: flex;
  justify-content: space-between;
}

.btm_container > * {
  margin-bottom: 10px;
}

#see_pass {
  visibility: hidden;
  -webkit-user-drag: none;
  position: absolute;
  right: 5%;
  top: 35%;
}

#check {
  vertical-align: middle;
}
#forgettext {
  /* float: right; */
  color: #a9abaf;
  /* margin-right: 2%; */
}

.signinbtn {
  background-color: var(--button-color);
  color: var(--primary-color);
  border: 0;
  height: 33px;
  width: 95%;
  border-radius: 4px;
  padding: 0%;
}

#signuptext {
  color: black;
  text-decoration: underline 1.5px;
}
